.App {
  text-align: center;
  h2 {
    width: 100%;
    height: 150px;
    line-height: 142px;
    color: white;
    background-size: 455px 131px;
    background: url(http://pngimg.com/uploads/batman/batman_PNG41.png) no-repeat center;

  }
}
*{
  font-family: 'Montserrat', sans-serif;

}

